%article
  %h2 About me
  %p 
    :markdown
      I am Vincent, a 24 years old French student in Computer Science, currently living and studying in Canterbury, England.
      I am also a freelance web-developer, working mainly with Ruby on Rails.
  %p 
    :markdown 
      I am currently pursuing a double master's degree in **Computer Science** and **Computing and Entrepreneurship** at **Epitech** (France) and the **University of Kent** (U.K).
  %p 
    :markdown
      You can check out my CV #{link_to "here", "/assets/CV-BOISARD_VincentEN.pdf"} in English and
      #{link_to "there", "/assets/CV-BOISARD_VincentFR.pdf"} in French.
  %p 
    :markdown
      To contact me, please send an email to #{mail_to "boisard.v@gmail.com"},
      or check out the informations provided on the #{link_to "Contact", contact_path} page.
