<article>
  <h2><%= @title.capitalize %></h2>
  <h3>Freelance:</h3>
  <div>
    <h4>Viarezo</h4>
  </div>
  <div>
    <h4>Skullslab</h4>
  </div>
  <div>
    <h4>Elhu.me</h4>
  </div>
  <h3>Other:</h3>
  <div>
    <h4>OpenAuthenticator</h4>
  </div>
  <div>
    <h4>Admin thingy</h4>
  </div>
</article>