<footer>
<section id="footer-area">

    <section id="footer-outer-block">
            <aside class="footer-segment">
                    <h4>Friends</h4>
                        <ul>
                            <li><a href="#">one linkylink</a></li>
                            <li><a href="#">two linkylinks</a></li>
                            <li><a href="#">three linkylinks</a></li>
                        </ul>
            </aside><!-- end of #first footer segment -->

            <aside class="footer-segment">
                    <h4>Awesome Stuff</h4>
                        <ul>
                            <li><a href="#">one linkylink</a></li>
                            <li><a href="#">two linkylinks</a></li>
                            <li><a href="#">three linkylinks</a></li>
                        </ul>
            </aside><!-- end of #second footer segment -->

            <aside class="footer-segment">
                    <h4>Coolness</h4>
                        <ul>
                            <li><a href="#">one linkylink</a></li>
                            <li><a href="#">two linkylinks</a></li>
                            <li><a href="#">three linkylinks</a></li>
                        </ul>
            </aside><!-- end of #third footer segment -->

            <aside class="footer-segment">
                    <h4>Licence</h4>
                        <ul>
                            <li>Code by <%= link_to "Vincent Boisard", root_path %>.</li>
                            <li>Design StarkEleganceTrio by <%= link_to "html5fan", "http://freehtml5templates.com/starkelegancetrio-html5-and-css3-template/", :target => "_blank" %>.</li>
                            <li>This site is <%= link_to "open source", "https://github.com/elhu/elhu_me" %>.</li>
                        </ul>
            </aside><!-- end of #fourth footer segment -->

    </section><!-- end of footer-outer-block -->

</section><!-- end of footer-area -->
</footer>
