<%= render 'layouts/menu' %>

<header><!-- header -->
    <h1><%= link_to "elhu.me", root_path %>/<span class="shine"><%= @header_title %></span></h1>
    <h2>Freelancer, Student and Ruby on Rails enthusiast.</h2>
</header><!-- end of header -->
