<%= render 'layouts/menu' %>

<header><!-- header -->
    <h1><%= link_to "elhu.me/", root_path %><span class="shine"><%= @title %></span></h1>
    <h2>Your witty and compelling tag line goes here</h2>
</header><!-- end of header -->
