<aside id="sidebar1"><!-- sidebar1 -->
    <div class="asidebox">
    <h3>Latest articles</h3>
        <ul>
        <% if not last_articles(5).empty? %>
            <% last_articles(5).each do |blog| %>
                <li><%= link_to blog.title, blog %></li>
            <% end %>
                <li class="alignright"><%= link_to "more...", blogs_url %></li>
        <% else %>
          <li>No articles have been written yet.</li>
        <% end %>
        </ul>
    </div>

    <div class="asidebox">
    <h3>Categories</h3>
        <ul>
            <li>Will be added soon!</li>
        </ul>
    </div>

    <div class="asidebox">
    <h3>Tags</h3>
        <ul>
            <li>Will be added soon!</li>
        </ul>
    </div>

</aside><!-- end of sidebar1 -->