<aside id="sidebar1"><!-- sidebar1 -->
    <div class="asidebox">
    <h3>Things To Do</h3>
        <ul>
            <li><a href="#">Play Games</a></li>
            <li><a href="#">Chat With Friends</a></li>
            <li><a href="#">Swap Stories</a></li>
            <li><a href="#">Sell Stuff</a></li>
            <li><a href="#">Buy Stuff</a></li>
            <li><a href="#">Trade Stuff</a></li>
        </ul>
    </div>

    <div class="asidebox">
    <h3>Sponsors</h3>
        <img src="images/ad125.jpg" alt="" class="aligncenter" /><br /><img src="images/ad125.jpg" alt="" class="aligncenter" /><br /><br />
    </div>

</aside><!-- end of sidebar1 -->